// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css';
body {
  font-family: sans-serif;
}
.status {
  border: 1px solid lightgray;
  text-align: left;
  width: 588px;
  height: 108px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: white;

}

.pages {
  text-align: center;
}

.header {
  text-align: center;
  height: 120px;
}
img.header {
  height: 50px;
  margin-left: 650px;
}

img.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  float:left;
  margin-top: 20px;
  margin-left: 11px;
  margin-right: 15px;
}

body {
  background-color: #f5f8fa;
}
.username {
  text-align: left;
}

.fa {
  margin-right: 30px;
  margin-bottom: 5px;
}

.dashboard.left {
  width: 290px;
  float:left;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 105px;
}
.dashboardprofile {
  background: #2FC2EF !important;
  background-size: 100%;
  background-position: 0, 50%;
  width: 100%;
  height: 95px;

}
.dashboardpic {
  width: 72px;
  height: 72px;
  border-radius: 6px;
  border: 3px solid white;
  margin-top: -35px;
  margin-left: 10px;
}
.u-block {
  display: block !important;
}
.dashusernamediv {
  overflow: hidden;
}
.dashusername {
  font-size: 1.5em;

}
.dash-userinfo {
  position: relative;
  width: 185px;
  top: -45px;
  right: -95px;
}
.arrange {
  table-layout: auto;
}
.datastats {
  display: inline-flex;
  min-width: 100%;
  list-style-type:none;
  position: relative;
  margin-left: -100px;
}
.data {
  color: #2FC2EF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}
.title {
font-size: 12px;
font-family: sans-serif;
}

li {
  margin-right: 10px;

}
.right.dashboard {
  width:290px;
  height: 472px;
  float: left;
  margin-left: 20px;
}
.flex.module {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 290px;
  height: 279px;
}
.main.info {
  float: left;
  margin-left: 20px;
}
.tweetbox {
  width: 588px;
  height: 57px;
  background-color: #EAF8FD;
  border-radius: 3px;
  border: 1px solid lightgray;

}
.compimage {
  border: 2px solid white;
  border-radius: 3px;
  width: 32px;
  height: 32px;
  position: relative;
  padding-left: 20px;
  padding-top: 13px;

}
.form {
  width: 400px;
  border: lightblue;
}
.flex-header {
  display: inline-flex;
  margin-left: 5px;
}
small {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 2em;
  margin-top: 7px;
}
.dash-who {
  margin-top: 14px;
  color:#2FC2EF;
}
.friendsdiv {
  width: 258px;
  height: 65px;
}
img.friends {
  width: 48px;
  border-radius: 5px;
  position: relative;
  margin-left: 8px;
}
.friends-data {
  position: absolute;
  margin-left: 5px;
}
.friends-data.h {
  padding-left: 120px;
}
button.one {
  position: absolute;
  margin-left: 10px;
  margin-top: 25px;
}
